table.sub_items
    background-color component_bg
    color component_color
    
table.sub_items
    font-size 11px
    line-height 5px
    tr 
        th
            padding .5em .4em
            // white-space nowrap
            font-weight bold
            text-transform lowercase
            background rgba(238,238,238,0.7)
            vertical-align middle
            // text-align center
            line-height 1.2em
        td
            line-height 1.3em
            padding .5em .4em
            &>:first-child
                white-space nowrap

