//
/**
DETAILS
**/
.title_detail
	text-transform uppercase
	font-family Helvetica
	font-weight bold
	font-size 1.5em
	margin 15px 0 5px 3px
	color #999

	// .menudown
	//     overflow visible
    //     > a
    //         color color_2
    //     .li_cabecera
    //         top 19px
    //         width auto
    //         border-width 1px	
.detail
	table.sub_items
		width 100%
	.ldd
		display block
		float none
		padding-right 15px
	.tite
		font-variant initial    
		a
			font-family Helvetica
			text-decoration underline
			font-weight bold
	.hid0
	.hid1  
		margin-top 5px !important
		margin-bottom 5px !important
	.itms
		.hitm .itd
			font-size 1em
			line-height inherit  
		.hid1
			display block    
		.hitm
			a
				display none   
	.itms.padre 
		.hitm
			a
				display inline
	.itms_cont
		width auto    
		float left
		overflow auto
		clear left
	.legend
			padding 10px 0 10px 4px
			clear left
			background #f8f8f8 !important
			width 100%
			margin 10px 0 !important  
			text-transform uppercase
			border 0
	a.ie
		position relative
		top 0
		right 0
		i
			position relative
			top 0
			right 8px
		&:hover
			text-decoration none
	.lec
		width 100%
		top 0
		right 0 
		position relative         
	.lid 
		display none 
	.bloque_titulo
		.switch_type_list
			display none				
	.bl
		background white
		// width 100%
		.ldd
			// border 1px solid green
			flex-grow 3
			width 500px
		.lc
			// border 1px solid red
			align-self flex-start
			float right
			.menudown
				padding 0 1em
				

					
		// ! LINEA DE CAMPOS
		padding .7em 2em 2em
		border 1px solid rgba(white,.2) !important
		border-radius 6px
		box-shadow 0 1px 2px rgba(0,0,0,0.4)
		border 1px solid #f6f6f5;
		min-height 116px
		margin-bottom 20px
		flex-direction column
		display flex !important
		flex-direction row !important
		justify-content space-between
		flex-wrap wrap
		// border 1px solid yellow !important
		// background-color green !important
		.lc
			// ! BOTON DE MENU
			top 10px
			right 1px !important
			// margin-left -39px
			padding-left 0px !important
			display flex
			flex-direction column
			text-align center
			position absolute
			.open_modificador_grilla,.open_modificador
				display none !important
		.bld
			// ! CAMPOS
			// clear left
			margin-left 0px
			border-bottom 1px solid rgba(white,.1)
			border-left 0
			min-height 0px
			padding .2em .7em
			display flex  
			flex-direction row
			width auto !important
			// justify-content flex-start
			// border solid 1px yellow
			&.lid,&.lifmf
				display none !important
			.nc
				// ! VARIABLE
				// padding-left 2em
				width 250px !important
				min-width 250px !important
				color #67757c !important
				text-transform uppercase
				font-size 1em
				overflow hidden
				font-style normal
				word-wrap break-word
				// border solid 1px navy
			.bd
				// ! VALOR
				align-items flex-start !important
				padding 0
				flex-grow 1
				max-height initial !important
				padding 0 1em
				.badge
					font-size 100%
					// text-shadow 3px 2px 3px black
					text-transform uppercase	
	@media $large
		.bl
			.lc
				position relative !important
				top 0px !important
				right 0px !important
				.menudown
					padding-right 0px !important
					padding-left 0px !important
					width 200px
					overflow visible
					position relative !important
					top 10px !important
					> a
						display none					
					.li_cabecera
						top 0px
						width auto
						border-width 1px
						position relative
						box-shadow 0 14px 14px rgba(0,0,0,.1), 0 10px 5px rgba(0,0,0,.1)						
						z-index 0
						a
							white-space normal				
	.open_modificador
		display none !important		
	.braz
	.expanlink
	.colaplink    
		display none    
	.itms_cont      
		.itms
			clear left !important    
	// .lifmf
	//   width 100% !important
	//   .bl
	//     width 100% !important
	//   .nc
	//     display none      
	// .controls-rows
	// 	display none
	#inner_after
		background white

.more_detail 
	display block
	width 100%
	clear both


	
// .nav.menu_detail

//