
.foot
	float none
	padding-left 0px
	padding-right 0px
	margin 0px
	position relative
	// padding-top 20px
	width 100%
	padding 0 1em
	text-align right
	margin-bottom 0px
	align-self flex-end
	// background brown
	height 30px
	line-height @height 
	vertical-align center
	box-sizing border-box
	// border 1px solid green
	// bottom 0px
	// position absolute
    
	#pagespan
		float left
		width auto

