//

.braz,
.itl,
.itr,
a .zz,
a.z,
strong.z,
span.z,
.m_user,
.m_grupo,
i.z
	font-family 'icomoon'
	// color inherit !important
	font-size 1em !important
	text-decoration none !important
	// margin-right 0.2em !important

.bld .z
	float none
	font-size 0.9em

.itl:hover,
a .zz:hover,
a.z:hover
	text-decoration none

.ico_star_0,
.ico_star_1,
.ico_star_2,
.ico_star_3,
.ico_star_4,
.ico_star_5,
.ico_star_6,
.ico_star_7,
.ico_star_8,
.ico_star_9,
.ico_star_10,
.i_d,
.ico_gm,
.ico_Print,
.ico_yes,
.ico_no,
.m_user,
.m_grupo,
.ico_Excel,
.ico_eye,
.ico_pics,
.ico_plus,
.ico_alert,
.ico_search,
.ico_reportes,
.ico_crea,
.i_form_edit,
.i_form_cancel,
.i_form_create
	background none !important
	padding 0 !important
	margin 0px 10px 0 0 !important
	position relative



.ico_Guardar,
.ico_Cancelar
	font-size 1em !important
	font-variant small-caps



.i_d:before
	content "\e612"







.ico_star_0:before
	content "\e670"

.ico_star_1:before,
.ico_star_2:before,
.ico_star_3:before,
.ico_star_4:before,
.ico_star_5:before,
.ico_star_6:before,
.ico_star_7:before,
.ico_star_8:before,
.ico_star_9:before,
.ico_star_10:before
	content "\e672"
	position relative
	color orange

.ico_star_1after,
.ico_star_2after,
.ico_star_3after,
.ico_star_4after,
.ico_star_5after,
.ico_star_6after,
.ico_star_7after,
.ico_star_8after,
.ico_star_9after
	color #fff
	font-size 0.6em
	top -2px
	z-index 10
	position relative
	right 11px
	margin-right -5px

.ico_star_10after
	color #fff
	font-size 0.6em
	top -2px
	z-index 10
	position relative
	right 13px
	margin-right -10px

.ico_star_1after
	content "1"

.ico_star_2after
	content "2"

.ico_star_3after
	content "3"

.ico_star_4after
	content "4"

.ico_star_5after
	content "5"

.ico_star_6after
	content "6"

.ico_star_7after
	content "7"

.ico_star_8after
	content "8"

.ico_star_9after
	content "9"

.ico_star_10after
	content "10"

.ico_Guardar:before
	content "\e682"
	font-size 0.85em
	color #0CB40C
	margin-right 2px

.ico_Cancelar:before
	content "\e681"
	font-size 0.85em
	color #E00A0A
	margin-right 2px

.ico_gm:before
	content "\e6b3"
	color #0E8A2E
	font-family 'icomoon'
	
.ico_Print:before
	content "\e629"
	/*color#136CB2;*/

.ico_Arriba:before
	content "\e629"

.ico_Abajo:before
	content "\e629"

.ico_Excel:before
	content "\e69e"
	/*color$verde;*/

.ico_yes:before
	font-family fontawesome
	content "\f00c"
	color darken(green,5)

.ico_no:before
	font-family fontawesome
	content "\f00d"
	color darken(red,10)



.modificador .i_b:before
	margin-right -1px
	font-size 1.3em


.i_mm:before
	content "\e663"
	font-size 1.3em
	top 2px
	position relative
	padding-right 0.2em

.i_ff:before
	content "\e68a"
	position relative
	top 2px
	font-size 1.1em
	padding-right 0.2em

.i_mm
	padding-left 20px !important
	float right
	margin-top 17px !important
	display none
	margin-left 15px
	margin-bottom 5px
	padding-right 0px !important
	color #000
	font-weight bold

.i_ff
	padding-left 27px !important
	float right
	margin-top 17px !important
	display none
	width auto
	margin-bottom 5px
	color #000
	font-weight bold



.ico_pics:before
	content "\e607"
	color green

.ico_eye:before
	content "\e600"

.ico_alert:before
	content "\e625"

.ico_plus:before
	content "\e685"
	color #006DCC
	margin 0 0 0 10px
	font-size 0.7em


	

.ico_reportes:before
	content "\e68d"

.ico_crea
	float left !important
	color inherit !important
.ico_crea:before
	content "\e60e"


.ico_play
	font-family 'icomoon'
	font-size 1em 
	&:after
		content "\e64f";
		color #df1b1c;
		position relative;
		top 5px;
		right 0px;
		font-size 1.5em;


.ico_Arriba
	background transparent url(../img/ico_arriba.gif) no-repeat scroll 0px	0px

.ico_Abajo
	background transparent url(../img/ico_abajo.gif) no-repeat scroll 0px	0px

i.zzz
	font-family 'icomoon'
	color inherit
	font-size 1em
	margin-right 10px

.ic_producto:before
	content "\e603"

.ic_usuarios:before
	content "\e63b"

.ic_configuraciones:before,
.ic_core:before,
.ic_configuracion:before,
.ic_config:before
	content "\e64a"

.ic_atenciones:before
	content "\e61c"

.ic_ventas:before
	content "\e61e"

.ic_geoposicion:before
	content "\e624"


.ic_productos:before
	content "\e61a"

.ic_publicidad:before
	content "\e61b"

.ic_formularios:before
	content "\f063"

.ic_contenidos:before
	content "\e61f"

.ic_inmueble:before,
.ic_inmuebles:before,
.ic_proyectos:before
	content "\e623"

.ic_sistema:before
	content "\e6a8"

.ic_boletin:before,
.ic_formularios:before
	content "\f03c"

.ic_aplicacion:before
	content "\e6b8"

i.zzz:before:hover
	text-decoration none

.i_form_cancel,
.i_form_cancel:hover
	text-decoration none

.i_form_create:before
	content "\e60e"
	color #04C

.i_form_create
.i_form_edit
	float none !important

.i_form_edit:before
	content "\e606"
	color $verde

.i_form_cancel:before
	content "\e681"

.i_form_create:before,
.i_form_cancel:before,
.i_form_edit:before
	font-size 0.6em
	/*margin-left 10px;*/


a.ico_left
	background transparent url(../img/ico_left.png) no-repeat scroll 0px 0px
	background-position 0px 4px

a.ico_right
	background transparent url(../img/ico_right.png) no-repeat scroll 0px 0px
	background-position 0px 4px

a.ico_clip
	background transparent url(../img/ico_clip.png) no-repeat scroll 0px 0px
	background-position 0px 0px

.ico_list
	cursor default
	float none
	margin-left 5px


// ! iconos de item controles
.i_b,
.i_e,
.i_ev,
.i_x,
.i_m,
.i_o,
.i_ec
	display flex !important
	flex-direction: row-reverse
	justify-content space-between
	align-items center
	&:before
		font-family 'icomoon'
		font-size 1.5em !important
		text-decoration none !important
		margin-left .8em
	&:hover
		text-decoration none !important

.i_b:before
	content "\f0a3"
	border 1px solid #555
	width 1em
	text-align center
	display inline-block
	font-size 1.3em
	color #555
.i_b:hover:before
	content "\f0a3"

.i_ev:before
	content "\e601"
.i_x:before
	content "\e657"
	color #772828

.i_o:before,
.i_m:hover:before
	content "\e6ac"
	color orange
.i_m:before,
.i_o:hover:before
	content "\e6ac"
	color #666

.i_e:before
	content "\e605"
.i_ec:before
	content "\e606"
.i_e:before,
.i_ec:before
	color #688e44