//


a.ico_tack
	background transparent url(../img/ico_tack.png) no-repeat scroll 0px 0px
	background-position 0px 4px


.bloque
	position relative

.div_bloque_cuerpo
	height auto
	width 100%
	clear left

.line_content
	clear both
	width 100%
	float left
	padding-top 0px



pre
	margin 0px

.tabla_objetos
	margin-top 10px
	

a.objetos
	float left
	background-color #999999
	color #FFFFFF
	padding 2px 7px
	margin 1px 1px 1px 0
	text-decoration none
	font-weight bold
	&:hover
		text-decoration underline
		color #000000

// maquina
.tbl
	margin-left 2px
	border 1px solid #999
	background-color #FFF
	tr
		td
			text-align center
			border-right 1px dotted #888
			padding 1px 0px 0px
			border-bottom 1px dotted #ddd
			border-top 1px solid #FFF
			vertical-align top
			line-height 14px
			input
				background none repeat scroll 0 0 #F4F336
				border 1px solid #999999
				float left
				margin -1px
				max-width 86px
				width 100%  
			&.big,
			&.small
				text-align left  
			&.cntrl
				min-width 260px
				word-wrap break-word
			&.big
				max-width 140px
				word-wrap break-word
			&.sinplu
				width 70px
				max-width 70px
				word-wrap break-word
			&.big b a
				font-weight bold
				font-size 10px
			&.small b a
				font-size 10px
				color #000                  
		&.bgpar td
			background #F1F1F1

		&.bordegrupo td
			border-top 1px solid navy
			padding-top 5px


.tbl 
	td b span
		font-weight normal
		color #F83F07
	th
		background-color #F2F2F2
		border-right 1px solid #333333
		border-top 0 none
		color #040404
		font-size 10px
		font-weight normal
		line-height 90%
		padding 1px 2px
		text-align center
		text-transform uppercase
	td    
		a.letra
			float left
			font-weight weight
			height auto
			margin-left 0px
			margin-right 0px
			margin-top 1px
			overflow hidden
			text-decoration none
			width auto
			text-transform uppercase
			line-height 12px
			padding 0 0px
			outline 1px solid #FFF
		a img
			height 12px
			margin 0 0 -3px
		a.onon
			background #CCF7C5
			color #0D0000
		a.offoff
			background #F8927D
			color black
		span.creado,
		a.creado
			color #009900
		span.nocreado
			color #990000
	.grup
		opacity 1 !important
	tr.disabled td.big b a
		color #666
		font-size 10px

	tr.disabled td
		opacity 0.3

	tr.painton td
		opacity 1
		border-top 1px solid #000
		border-bottom 1px solid #000

	tr.disabled td.big
		opacity 1










// maquina
.config_table
	font-size 1em
	margin 0px 0px 2px 0px
	float left
	max-width 500px
	th
		font-weight normal
		padding-top 1px
		padding-left 1px
		color #FFF
		text-align left
		background #333

	td
		padding 0 0 0 0px
		text-align left
		border-bottom 1px dotted #CCCCCC
		font-size 11px

	td.name
		font-weight bold
		word-break break-all

	td.value
		width 10%
		padding-left 0px

	td.value input,
	td.value select
		background-color #FF9

	td.value li
		list-style none
		border 1px solid #FFFFFF
		cursor default

	td.value li:hover
		background-color #EEEEEE
		border 1px solid #CCD6D6

	td input
		border 1px solid #CCD6D6
		padding 0px
		margin -1px 0px
		background-color #FFFFCC

















table.paginac
	margin-top 5px
	margin-bottom 5px

	td
		font-weight bold
		border-bottom 1px dotted #ccc
		color #777

	td a
		margin-left 5px
		color blue
		text-decoration none
		font-weight normal

	td a:hover
		text-decoration underline

table.photos
	background-color #eee
	border-collapse separate
	width 100%

	td
		border-bottom 1px solid #999
		border-left 1px solid #999
		font-size 11px
		font-weight bold
		height 30px
		position relative
		margin 1px
		text-align center
		vertical-align middle

	td b
		font-size 10px
		font-weight normal
		font-style italic

	td.phead
		font-weight bold
		font-size 12px
		color #000
		text-transform uppercase
		border-top 1px solid #999

	td img
		width 30px




.importartodo a
	float right




.desarrollo
	opacity 0.2









.content_maquina
	clear left
	padding 0 0 0 20px





.ico_opcion
	float left
	padding 1px 3px
	line-height 1.3em
	text-transform capitalize


a.ico_Crear
	color #FFFFFF !important




/**
POPUP
**/   
.popup
	.formulario
		padding-top 10px
	.bloque_content_crear
		box-shadow none
	





//TREE
.bloque_titulo
	span.type_file, span.pipe, a.type_directory
		font-size 0.8em 
		float none
		text-transform capitalize
		font-weight 300
		&:before
			font-family icomoon
			font-size 0.8em
	span.type_file 
		color black
		&:before
			content "\e60d"
			margin 0 0.25em
	a.type_directory
		&:before
			content "\e616"
			margin 0 0.25em
		&:hover
			text-decoration none
			&:before
				content "\e617"



