//

/***********************************************************
 ********************** MEDIA QUERY ************************
***********************************************************/

@media screen and (max-width 800px)
	
	.inner_span_tren
		float none

	body
		font-size 14px

	// ul.ul_menus li a
	//   font-family "Helvetica Neue",Helvetica,Arial,sans-serif,"Arial Narrow",Helvetica,calibri  

	.modificador.bl .bd
		min-width 0 !important

	.modificador a.linkstitu
		clear left
		padding 1px 5px 0 5px

	.modificador .braz,
	.modificador .itl,
	.modificador .itr,
	.modificador a .zz,
	.modificador a.z
			font-size 1.6em

	#msino
		display none

	#dfilters
		display none

	.ul_menus
		display none
		width 100%
		min-height 0
		li a
			font-size 1em
			padding-top 10px
			padding-bottom 10px
			line-height 1em
			letter-spacing 0
		li.padre a
			font-size 1.1em

	.div_bloque_cuerpo
		margin-left 0px !important
		clear both
		width 100% !important

	.ul_menus 
		li.group
			a.padre  
				font-size 1.6em !important      
			.mcontent
				ul
					li
						overflow hidden
						padding 0
						a
							font-size 1.3em
							text-transform uppercase
							


	.seccion
		width auto !important
		line-height 16px !important
		clear left
		border-bottom 0

	li.bl:hover
		margin-left 0px
		visibility visible
		padding-left 0px !important

	.menus 
		b,
		strong,
		a,
		li
			font-size 1em
			margin-right 0px
			padding-right 2px
			padding-left 2px
			font-weight normal



	.foot
		padding-top 1px
		padding-bottom 1px
		font-size 10px
		color #ccc

	.foot a
		color #ccc

	.pagination ul > li > a,
	.pagination ul > li > span
		padding-left 17px
		padding-right 17px

	// .contenido_principal
	//   padding-bottom 0px
	//   margin-bottom 0px

	#div_allcontent
		width 100% !important
		margin-top 1px !important

	#layer
		background black

	#div_allcontent
		border-radius 0    

	.bloque_titulo
		border-style none !important
		margin-left 0%
		margin-right 0%
		border-radius 0

	// .contenido_principal
	//   border-color #FFF !important

	.logo_panel img
		height 30px !important

	a.link_header
		font-size 12px !important
		margin-top 20px !important
		letter-spacing -0.05em !important
		color #666 !important

	.monitor
		.formulario 
			textarea.form_input,
			.linea_derecha .form_input,
			.linea_derecha_espacio .form_input
				max-width 65%
			label
				padding-left 2px

	.legend
		margin-left 0 !important
		padding-left 3px

	.content_maquina
		padding-left 0

	.titulo_formulario
		padding-left 0px

	.btn-small
		padding-left 10px
		padding-right 10px
		font-size 12px


	.titulo
		float left !important
		width 50%
		padding 6px 0 11px

	.bloque_content_crear
		clear both

	.main_content
		padding 0 !important
		clear both
		position relative

	.modificador_grilla .itms
		display none

	.modificador
		background none !important
		border 1px #fff solid !important
		border-bottom 1px #ccc solid !important
		&:hover
			background none !important
			border 1px #fff solid !important
		.bld
			background-image none
			margin-right -35px
					


	a.z
		padding-bottom 13px

	.bl .bd
		font-size 1.2em !important
		letter-spacing -0.04em

	.modificador .bd
		width auto !important
		max-width 60% !important

	// .itms .itm .itd
	//   font-size 1.2em !important



	body
		background-color #FFF !important

	.modulo_login #div_allcontent
		border 0 !important

	.modificador .bld .nc
		width 100px !important

	.itms_cont
		display block
		clear left
		overflow auto
		padding-bottom 10px
		height auto
		width 100%

	ul.ul_menus_empty
		display none

	ul.ul_menus_empty:before
		display none

	.monitor
		.formulario 
			.linea_form
				width 100%;    
				clear left
				label
					width 90px
					padding-left 12px
					margin-right 0px
					text-transform uppercase
					// font-family "Helvetica Neue",Helvetica,Arial,sans-serif,"Arial Narrow",Helvetica,calibri        
					font-style normal
			textarea
				max-width 100% !important
				width 90% !important
				min-width 50% !important        
			input[type=password].form_input,
			input[type=text].form_input,
			select.form_input
				// max-width 100% !important
				width 84% !important
				// min-width 50% !important  
			select.form_input_fecha
				width 58px !important; 
			

	.floatinput
		float none  
		clear left

	// .lc a:before
	//   font-size 1.2em

/***********************************************************
 ********************** MEDIA QUERY ************************
***********************************************************/

@media screen and (max-width 600px)

	.monitor
		.formulario       
			input[type=password].form_input,
			input[type=text].form_input,
			select.form_input
				width 64% !important
				box-sizing border-box
				height 28px
			select.form_input_fecha
				width 58px !important     



	a.link_header
		display none


