body.modulo_login
    .foot
        align-self flex-end
    .logo_panel img
        max-height initial
        max-width initial
    .link_header
        display block
        font-size 1.7em
    .contenido_principal
        text-align center 
        // height 100vh
    .formulario
        .linea_form 
            label
                font-size 1.2em
    justify-content flex-start
    justify-content center
    #div_allcontent
        min-height calc(100vh - 32px)
        width 100%
        display flex
        flex-direction row
        align-items center
        #div_contenedor
            width: 100% !important
            display flex !important
            flex-direction row !important
            align-items center
            justify-content center
            .contenido_principal
                height auto
                max-width 450px
                width 100%
                .line_content .div_bloque_cuerpo
                    width 100%
                    min-height: initial
                    margin-bottom 0px
    .formulario
        .linea_form 
            label
                font-size 1.3em
            &.linea_form_mensaje
                label
                    display none
                display block
                text-align center
            &.linea_botones
                input
                    font-size 1.3em
                    padding .5em 2em
                    text-transform uppercase