#form_buscar
    display none
    // float right
    #linea_buscador
        position relative
        #buscar
            border 1px solid #BDC7D8
            color #C0C0C0
            // float right
            font-weight normal
            margin 0px 4px 1px
            // width 15%
            padding-right 20px
            // height 28px
        .ico_search
            // margin-left -25px !important
            position absolute
            right 10px
            // margin-right -20px

            &:before
                content "\e63e"
                color #000
                position relative
                top 5px
                right 2px        