//- ****
//- Archivo: locations_detail_after.jade
//- Archivo Transpilado: panel/views/dist/locations_detail_after.php
//- Author: Sinesss
//- Tipo: Plantilla de vista PHP
//- Lenguaje: Pug
//- Descripción:  Este archivo es el template jade de las secciones (de la parte infeior) de la pagina de detalle de un ente
//- ****
//- 

ul.nav.nav-tabs.menu_detail.menu_people_detail
    li.nav-item: a.nav-link(  
        class="link-people",
        onclick="ax('paginaUrl','','1','PEOPLE','inner_after','&id_location=#{linea.id}','sub')"
        ) Personas

