//- ****
//- Archivo: view_informe_general.jade
//- Archivo Transpilado: panel/views/dist/view_informe_general.php
//- Author: Sinesss
//- Tipo: Plantilla de vista PHP
//- Lenguaje: Pug
//- Descripción:  Este archivo es el template jade de informe general, del menu de informes
//- ****
//- 

h1 cargo