




@font-face
  font-family: 'fontawesome'
  src: url('vendor/fonts/fontawesome/fa-solid-900.eot?hd7pdo')
  src: url('vendor/fonts/fontawesome/fa-solid-900.eot?#iefixhd7pdo') format('embedded-opentype'),
		url('vendor/fonts/fontawesome/fa-solid-900.woff?hd7pdo') format('woff'),
		url('vendor/fonts/fontawesome/fa-solid-900.ttf?hd7pdo') format('truetype'),
		url('vendor/fonts/fontawesome/fa-solid-900.svg?hd7pdo#icomoon') format('svg')
  font-weight: normal
  font-style: normal